
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 1px;
font-family: 'Montserrat', sans-serif;
}

body a {
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
   font-family: 'Montserrat', sans-serif;
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
   font-family: 'Montserrat', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	letter-spacing: 1px;
	
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}


ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
}

/*-- //Reset-Code --*/
.about,.services,.team,.contact,.news,.testimonials{
    padding: 5em 0;
}

.title {
    font-size:48px;
    text-align: center;
    color: #000;
    margin-bottom: 37px;  
    letter-spacing: 3px;
    font-weight: 600;
}
.clr {
    color: #fff;
}
/*-- header --*/ 
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
    color:#f3901b ;
    background:rgba(255, 255, 255, 0);
}
.navbar-default .navbar-nav > .active > a:before{
	background: #ff2d37;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}
.navbar-default .navbar-nav > li > a {
	  color:#fff;
    letter-spacing: 2px;
    padding: 5px 6px;
    margin: 0 8px;
    font-size: 14px;
}
.navbar-nav > li > a {
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus {
    color:#f3901b;
}
nav.navbar.navbar-default {
    background: none;
       padding:2em 4em 1em;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
       color: #262c38;
    background: none;
}
.navbar-nav {
    margin-top: 12px;
}
/*.navbar-default .navbar-nav > li > a {
  */
.navbar-default .navbar-nav  > .active.open > a:focus {
	background:transparent;
	color: #fff;
}
a.navbar-brand {
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0px rgba(74, 76, 76, 0.13);
	line-height: inherit;
}
h1 a.navbar-brand {
	padding-top: 6px;
    font-size: 37px;
    color: #f3901b !important;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
/*.navbar-default .navbar-brand {
    color: #131212;
	font-size:50px;
}*/
a.navbar-brand i{
	color:#ff2d37;
}
/*-- //nav --*/

/*-- //header --*/ 
.header-outs{   background: url(../images/b5.jpg);
background-repeat: no-repeat;
    background-position: center;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/*-- //banner Slider --*/
.rslides {
  margin: 0 auto 40px;
  }

#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

a {
  color: #fff;
  text-decoration: none;
  }

/* Callback example */
/*.events {
  list-style: none;
  }*/

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

/*.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }*/
.slider-info {
    padding: 15em 0 0;
    width: 100%;
}
 .slider-info h4{
	 font-weight:400;
    color: #fff;
    font-size: 5em;
    letter-spacing: 3px;
}
.slider-info p {
    font-size: 16px;
    letter-spacing: 2px;
      padding: 1em 27em 2.5em 0em;
    color: #fff;
    line-height: 29px;
}
.outs_more-buttn a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    letter-spacing: 2px;
   background:rgba(255, 255, 255, 0.17);
    outline: none;
    padding: 10px 22px;
    border:none;
}
.outs_more-buttn a:hover {
    background:#fff;
    color: #000;
}
span.home-banner{
    color: #9e0022;
	font-weight:100;
}
.paw-banner{
    font-size: 15px;
    color: #fff;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 80%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
    height: 53px;
    width: 53px;
  background:rgba(230, 230, 230, 0) url("../images/left-arrow.png") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
   background:rgba(230, 230, 230, 0)  url("../images/right-arrow.png") no-repeat 0px 0px;
  background-position: right top;
  right: 0;
  }
.callbacks_nav ,
.callbacks_nav.next {
background-size:40px;
}
/*#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}--*/
/*--//banner-- */
/*--top-modal--*/
.modal img {    width: 100%;
}
.out-info p {
    font-size: 14px;
    color: #000;
    padding: 16px;
    line-height: 27px;
}
h4.modal-title{ 
   font-size: 32px;
    color:#d85f57;
    letter-spacing: 2px;
    text-align: center;}
/*--//top-modal--*/
/*--About-- */
.aboutright{margin-bottom:2em;}
.about-jst-right p {
    font-size: 16px;
    color: #5f5656;
    letter-spacing: 1px;
    margin-right: 45px;
    line-height: 27px;
}
.about-jst-right p:nth-child(1) {
    padding-bottom: 13px;
}
.aboutright h4 {
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: 600;
	color:#000;
}
.aboutdown {
	    position: relative;
}
.pos-top h4 {
    font-size: 19px;
	font-weight: 600;
    color:#f3901b;
    letter-spacing: 2px;
    padding-bottom: 14px;
	text-transform: uppercase;
}
.jst-right {
    position: absolute;
    left: -76px;
    top: -163px;
    width: 64%;
    background: rgba(0, 0, 0, 0.8);
    padding: 4em 3em;
    z-index: 9;
    text-align: center;
}
.pos-top:nth-child(2) {
    margin-top: 24px;
}
.pos-top p {
    font-size: 14px;
    color: #cacaca;
    letter-spacing: 1px;
    line-height: 28px;
}
.aboutdown1 {
    text-align: right;
}
.aboutdown1 img {
    display: inline-block;
}
.imgflex ,.imgflex1{
    padding: 0px;
}
/*--//About-- */
/*--Services-- */
.services {
    background: url(../images/s1.jpg)no-repeat center;
    background-size: cover;
    padding-bottom: 0em !important;
}
span.banner-icon {
    color:rgba(195, 195, 195, 0);
	font-size: 43px;
	text-align:center;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.its-banner-grid h4 {
    font-size: 23px;
    color: rgb(243, 144, 27);
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}
.white-shadow {
    padding: 0px;
}

.its-banner-grid p {
    margin-top: 13px;
    text-align: center;
    font-size: 14px;
    color: rgb(202, 201, 201);
}
.its-banner-grid {
    border: .2px solid #ada2a2;
    padding: 4em 1.5em;
	border-left: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.its-banner-grid:hover {
    background:rgba(0, 0, 0, 0.5882352941176471);
}
.left-icon-grid{text-align:center;
                margin-bottom:1em;}
.its-banner-grid:hover span.banner-icon{
	color:#fff;
}
.char-mid-grid {
    padding: 7em 5em;
	border-right: .2px solid #ada2a2;
	background:rgba(243, 144, 27, 0.58);
}
.char-mid-grid p{color:#fff;
    line-height: 29px;
	    font-size: 16px;}
/*.its-banner-grid:nth-child(5), .its-banner-grid:nth-child(6)
,.its-banner-grid:nth-child(7),.its-banner-grid:nth-child(8)  {
    margin-top: 40px;
}*/
/*--// Services-- */
/*-- //team --*/
.team{background:#000;}
.at-section__title {
  margin: 0 0 70px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-align: center;
}
/*.at-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFF;
  border: 1px solid #E2E9ED;
}*/
.at-grid[data-column="1"] .at-column {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.at-grid[data-column="2"] .at-column {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.at-grid[data-column="3"] .at-column {
  width: 33.33333%;
  max-width: 33.33333%;
  min-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}
.at-grid[data-column="4"] .at-column {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.at-grid[data-column="5"] .at-column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.at-grid[data-column="6"] .at-column {
  width: 16.66667%;
  max-width: 16.66667%;
  min-width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}
.at-grid[data-column="7"] .at-column {
  width: 14.28571%;
  max-width: 14.28571%;
  min-width: 14.28571%;
  -ms-flex-preferred-size: 14.28571%;
      flex-basis: 14.28571%;
}
.at-grid[data-column="8"] .at-column {
  width: 12.5%;
  max-width: 12.5%;
  min-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
}
.at-grid[data-column="9"] .at-column {
  width: 11.11111%;
  max-width: 11.11111%;
  min-width: 11.11111%;
  -ms-flex-preferred-size: 11.11111%;
      flex-basis: 11.11111%;
}
.at-column {
  z-index: 0;
  position: relative;
  background:#f3901b;
  box-shadow:0 0 0 1px #000000;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}
.at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.at-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}
.at-column:hover .at-social {
  margin: 16px 0 0;
  opacity: 1;
}
.at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
}
.at-user__avatar {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}
.at-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.at-user h4 {
  color: #fff;
  font-size:20px;
  font-weight: 500;
}
.at-user__title h6 {
  color: #ddd;
  font-size:15px;
  padding-top:7px;
}
.at-social {
  margin: 0 0 -18px;
  opacity: 0;
  -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
  transition: margin 0.2s ease, opacity 0.2s ease;
}
.at-social__item {
  display: inline-block;
  margin: 0 10px;
}
.at-social__item a {
  display: block;
}
.at-social__item span{
font-size:15px;
  display: block;
  height: 18px;
}
.at-social__item span:hover {
color:#000;
}
/*-- //team --*/
/*-- /clients --*/

.a-midd-main img{    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;}
.agile_clients_content {
	text-align: center;
	width: 100%;
}

.agile_clients_content p {
	color: #000;
	font-size:15px;
	line-height:28px;
	letter-spacing: 2px;
}
.agile_clients_content h4 {
    color: #f3901b;
    margin: 20px 0 15px;
    font-size: 20px;
    letter-spacing: 1px;
}
.form-left-to-w3l input[type="text"],.form-right-to-w3ls input[type="text"],.form-left-to-w3l input[type="email"]
,select.form-control {
    width:100%;
    color: #000;
    outline: none;
    font-size: 14px;
    padding: .8em 1em;
    border: 1px solid #000;
	margin: 0px 0px 29px;
    display: inline-block;
    background:rgba(255, 255, 255, 0.9);
	letter-spacing: 1px;
	box-sizing: border-box;
}
 select.form-control {
    outline: none;
	height:45px;
	border-radius:0px;
 }
 option{background:#fff;}
.form-left-to-w3l {
    padding-left: 0px;
}
.form-right-to-w3ls{
	padding-right:0px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
     color: #000;
}
:-moz-placeholder { /* Firefox 18- */
    color: #000;
}
.btnn{text-align:center;
box-sizing: border-box;}
button[type=submit]{
	 width:100%;
	 background:#f3901b;
	 outline:none;
	 color:#fff;
	 font-size:18px;
	 font-weight:400;
     border: 1px solid #fff;
     padding:11px 11px;
	 letter-spacing:1px;
	 text-transform:uppercase;
	 cursor:pointer;
	 transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
button:hover{color:#fff;
     background:#000;
	
            }
/*-- //clients --*/
/*-- blog --*/

.clr-1{background:#80246d;}
.clr-2{background:#d23a75;}
.w3layouts_news_grid img{width:100%;}
.outs_news_grid {
    padding: 2em;
}
.outs_news_grid h6 {
    font-size: 20px;
    padding: 0px 0px 24px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}
.outs_news_grid ul li {
    color:#efefef;
    font-size: 13px;
}
 .outs_news_grid ul li:nth-child(1) {
    margin-bottom: 10px;
}
 .outs_news_grid ul li span {
    color: #000;
    font-size: 15px;
    padding-right: 14px;
}
a.blog-more {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border:1px solid rgba(0, 0, 0, 0);
    background: transparent;
    text-transform: capitalize;
    margin-top: .8em;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 8px 20px;
    outline: none;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
a.blog-more:hover {
    text-decoration: none;
    color: #fff;
    border-color:#f3901b;
    background:#f3901b;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.blog-right {
    margin-top: 43px;
}
/*-- //blog --*/
/*-- contact --*/
.contact{
    background: #000;
}
.map iframe {
    width: 100%;
    height: 450px;
	padding:1em;
    border: 5px solid #000;
}
.wthree_contact_left_grid input[type="text"],.wthree_contact_left_grid input[type="email"], .w3layouts_mail_grid_right textarea {
    outline: none;
    padding: 1em;
    font-size: 1em;
    color: #212121;
    background: #f5f5f5;
    width: 100%;
    border: 2px solid #000;
    margin-bottom: 2em;
    letter-spacing: 1px;
}
.w3layouts_mail_grid_right textarea {
    min-height: 250px;
    resize: none;
}
.w3layouts_mail_grid_right input[type="submit"]:hover, .w3layouts_mail_grid_right input[type="reset"]:hover {
    background:#757069;
    color: #fff;
}

.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    outline: none;
    padding: 1em 0;
    font-size: 16px;
    color: #fff;
    background: #f3901b;
    width: 23%;
    border: none;
    text-transform: uppercase;
    margin-right: 1.1em;
    letter-spacing: 1px;
}
.wthree_contact_left_grid:nth-child(1),.wthree_contact_left_grid:nth-child(3){
    padding-left: 0px;
}
.wthree_contact_left_grid:nth-child(2),.wthree_contact_left_grid:nth-child(4){
    padding-right: 0px;
}
.contact-icons.text-center {
	padding-top:3em 
}
.icon_grid_left {
    padding-bottom: 12px;
}
.footer_grid_left p, .footer_grid_left p a {
    color: #fff;
    line-height: 28px;
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 8px;
}
.footer_grid_left p a:hover{color:#fff;}
.footer_grid_left p span {
    display: block;
}
.icon_grid_left span {
    color: #fff;
    font-size: 21px;
    text-align: center;
    border: 1px solid #f3901b;
    width: 57px;
    height: 57px;
    line-height: 51px;
    background:#f3901b;
	border-radius: 50px;
}
/*-- //contact --*/
/*--footer --*/
.footer {
    background: #2f2f2f;
  padding:2em 0em;
}
.footer nav    {
	border:none;
	    text-align: center;
	border-top: 1px solid #f3901b;
	border-bottom: 1px solid #f3901b;
	margin-bottom:2em;
	}
.footer ul.nav-buttom li {
	list-style: none;
	display: inline-block;
	margin: 0px 8px;
}
.footer ul.nav-buttom li a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer ul.nav-buttom li:hover a {
	color: #d85f57;
}

ul.nav-buttom {
	margin:1em 0;
}
.left-side h2 a {
    font-size: 35px;
    color: #fff;
    margin-bottom: 11px;
}
span.cap {
    color:#f3901b;
    font-size: 14px;
    letter-spacing:2px;
}
.icons ul li {
    display: inline-block;
}
.icons ul li a{
     color: #fff;
    font-size: 15px;
    letter-spacing: 11.4px
}
.icons ul li a span.fa.fa-facebook:hover {
    color: #3b5998;
}

.icons ul li a span.fa.fa-twitter:hover{
	color: #55acee;
}

.icons ul li a span.fa.fa-rss:hover{
	color: #f26522;
}
.icons ul li a span.fa.fa-vk:hover{
	color: #45668e;
}
.colr-row{padding:0px;}	
.footer h3,.footer h2{   }
.footer h3 {
    font-size: 20px;
    color:#00e4c1;

    letter-spacing: 2px;
    font-weight: 600;
}
.one p {
    color: #fff;
    line-height: 26px;
    font-size: 14px;
}
.addres.up-out p:nth-child(1), .addres.up-out p:nth-child(2), .addres.up-out p:nth-child(3) {
    padding-top: 0px;
}
.addres p {
    font-size: 15px;
    color: #fff;
    padding: 10px 0px;
}
.icons-left {
    font-size: 20px;
    margin-right: 14px;
    color: #00e4c1;
}
.icons {
    padding-top: 18px;
}
.bottom-copy-wrt p {
    font-size: 13px;
    color: #fff;
    letter-spacing: 2.5px;
    background: #2f2f2f;
	    text-align: center;
}
.bottom-copy-wrt p a {
    color: #fff;
    text-decoration: underline;
}
.bottom-copy-wrt  p a:hover {
    color: #d85f57;
}
/*-- //footer --*/
/*--to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 2%;
	overflow: hidden;
	z-index: 0; 
   width: 42px;
    height: 42px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
	background-size: 40px;
}
#toTopHover {
       width: 45px;
    height: 45px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
.header-outs {
    min-height: 600px;
}
.slider-info h4 {
    font-size: 4.5em;
}
.slider-info {
    padding: 9em 0em 0em 2em;
}
.slider-info p {
    padding: 1em 27em 1.5em 0em;
}	
.about, .services, .team, .contact, .news, .testimonials {
    padding: 4.5em 0;
}
.aboutright h4 {
    font-size: 34px;
}
.aboutright {
    margin-bottom: 1.5em;
}
.about-jst-right p {
    font-size: 15px;

}
.pos-top h4 {
    font-size: 18px;
    padding-bottom: 11px;
}
.its-banner-grid h4 {
    font-size: 20px;
}
.char-mid-grid p {
    font-size: 15px;
}
span.banner-icon {
    font-size: 39px;
}
.outs_news_grid h6 {
    font-size: 18px;
	padding: 0px 0px 19px;
}
.left-side h2 a {
    font-size: 33px;
}
.wthree_contact_left_grid input[type="text"],
 .wthree_contact_left_grid input[type="email"],
 .w3layouts_mail_grid_right textarea {

    padding: .8em;
}
}
@media(max-width:1366px){
.char-mid-grid {
    padding: 7em 4em;
}
.its-banner-grid h4 {
    letter-spacing: 1px;
}	
.w3layouts_mail_grid_right input[type="submit"],
 .w3layouts_mail_grid_right input[type="reset"] {
    font-size: 15px;
}
.icon_grid_left {
    padding-bottom: 7px;
}
.footer nav {
    margin-bottom: 1.5em;
}
.map iframe {
    height: 401px;
}

}
@media(max-width:1280px){
h1 a.navbar-brand {
    font-size: 34px;
}
.slider-info h4 {
    font-size: 4em;
}
.pos-top h4 {
    font-size: 17px;
}
.pos-top p {
    line-height: 26px;
}
.char-mid-grid {
    padding: 7em 2.5em;
}
.its-banner-grid h4 {
    font-size: 19px;
}
a.blog-more {
	    padding: 7px 15px;
    font-size: 15px;
}
.at-user h4 {
    font-size: 18px;
}
.outs_news_grid h6 {
    padding: 0px 0px 16px;
}
.agile_clients_content p {
    line-height: 26px;
    letter-spacing: 1px;
}
.form-left-to-w3l input[type="text"], .form-right-to-w3ls input[type="text"], 
.form-left-to-w3l input[type="email"], select.form-control {
    padding: .7em 1em;
}
.footer_grid_left p, .footer_grid_left p a {
    line-height: 25px;
}

}
@media(max-width:1080px){
.jst-right {
    left: -88px;
    width: 73%;
}
.pos-top:nth-child(2) {
    margin-top: 19px;
}
.header-outs {
    min-height: 569px;
}
.slider-info p {
    padding: 1em 18em 1.5em 0em;
}
.slider-info {
    padding: 7em 0em 0em 2em;
}
.navbar-default .navbar-nav > li > a {
    padding: 5px 4px;
    margin: 0 6px;
}	
.aboutright h4 {
    font-size: 32px;
}
.its-banner-grid {
    padding: 3em 1em;
}
.left-icon-grid,.white-shadow {
    width: 100%;
}
.char-mid-grid {
    padding: 5em 2.5em;
}
.outs_news_grid h6 {
    font-size: 16px;
}
.at-user__title h6 {
    font-size: 13px;
}
.agile_clients_content h4 {
    font-size: 18px;
}
.w3layouts_mail_grid_right textarea {
    min-height: 225px;
}
.icon_grid_left span {
    width: 54px;
    height: 54px;
    line-height: 53px;
}
.map iframe {
    height: 379px;
}
.footer ul.nav-buttom li a {
    font-size: 12px;
    letter-spacing: 2px;
}
.bottom-copy-wrt p {
    letter-spacing: 1px;
}
.icons {
    padding-top: 13px;
}
}
@media(max-width:1050px){
	.slider-info h4 {
    font-size: 3.7em;
}
.slider-info p {
    padding: .8em 18em 1em 0em;
}
h1 a.navbar-brand {
    font-size: 32px;
}
.aboutright {
    margin-bottom: 1.2em;
}
.aboutright h4 {
    font-size: 30px;
}
.about-jst-right p {
    font-size: 14px;
	line-height: 25px;
}
.its-banner-grid {
    padding: 2em 1em;
}
.about, .services, .team, .contact, .news, .testimonials {
    padding: 4em 0;
}
span.banner-icon {
    font-size: 36px;
}
a.blog-more {
	font-size: 14px;
    margin-top: .6em;
}
.outs_news_grid ul li:nth-child(1) {
    margin-bottom: 8px;
}
.title {
    font-size: 45px;
}
.wthree_contact_left_grid input[type="text"],
 .wthree_contact_left_grid input[type="email"],
 .w3layouts_mail_grid_right textarea {
    padding: .9em;
    font-size: .9em;
}
.w3layouts_mail_grid_right input[type="submit"], 
.w3layouts_mail_grid_right input[type="reset"] {
    padding: .8em 0;
}
.left-side h2 a {
    font-size: 31px;
}
.form-left-to-w3l input[type="text"], 
.form-right-to-w3ls input[type="text"], 
.form-left-to-w3l input[type="email"], 
select.form-control {
    font-size: 13px;
}
}
@media(max-width:1024px){
.header-outs {
    min-height: 550px;
}
.slider-info h4 {
    font-size: 3.2em;
}
.jst-right {
    left: -101px;
    width: 80%;
    padding: 3em 3.5em;	
}
.about-jst-right p:nth-child(1) {
    padding-bottom: 10px;
}
.pos-top h4 {
    font-size: 16px;
}
.its-banner-grid p {
    margin-top: 10px;
}
.its-banner-grid h4 {
    font-size: 18px;
}
.char-mid-grid p {
    font-size: 14px;
}
.char-mid-grid {
    padding: 4em 2.5em;
}
.outs_news_grid {
    padding: 1.5em;
}
.at-user h4 {
    font-size: 17px;
}
.agile_clients_content p {
    font-size: 14px;
}
.w3layouts_mail_grid_right textarea {
    min-height: 206px;
}
.map iframe {
    height: 347px;
}
.footer nav {
    margin-bottom: 1.2em;
}
.icons {
    padding-top: 9px;
}
.callbacks_nav, .callbacks_nav.next {
    background-size: 33px;

}
}
@media(max-width:991px){
.slider-info p {
    padding: .8em 7em 1em 0em;
}
.slider-info p {
    font-size: 15px;
}
.jst-right {
    position: initial;
    width: 100%;
	padding: 2em 1em;
    margin: 1.5em 0em;
}
.char-mid-grid {
    padding: 3em 2em;
}
.blog-rit-right:nth-child(2) {
    margin-bottom: 32px;
}
.clients_agile_slider {
    margin-bottom: 25px;
}
button[type=submit] {
    font-size: 16px;
}
.map iframe {
    height: 319px;
}
.left-side {
    text-align: center;
    margin-bottom: 21px;
}
.about-jst-right p {
    margin-right: 0px;
}
}
@media(max-width:900px){
.header-outs {
    min-height: 512px;
}
nav.navbar.navbar-default {
    padding: 2em 3em 1em;
}	
.slider-info {
    padding: 6em 0em 0em 3em;
}
.slider-info h4 {
    font-size: 3em;
}
.about, .services, .team, .contact, .news, .testimonials {
    padding: 3.5em 0;
}
.aboutright h4 {
    font-size: 28px;
}
.pos-top h4 {
    font-size: 15px;
}
.title {
    font-size: 43px;
    margin-bottom: 31px;
}
.outs_news_grid h6 {
    padding: 0px 0px 13px;
}
.w3layouts_mail_grid_right input[type="submit"], 
.w3layouts_mail_grid_right input[type="reset"] {
    width: 27%;
}
}
@media(max-width:800px){
nav.navbar.navbar-default {
    padding: 2em 2em 1em;
}
.navbar-default .navbar-nav > li > a {
    letter-spacing: 1px;
}	
.slider-info h4 {
    letter-spacing:1px;
}
.header-outs {
    min-height: 476px;
}
.agile_clients_content h4 {
    margin: 18px 0 12px;
}
.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    padding: .7em 0;
}
.map iframe {
    height: 305px;
}
}
@media(max-width:768px){
.navbar-default .navbar-nav > li > a {
    padding: 5px 2px;
    margin: 0 4px;
}
.form-left-to-w3l input[type="text"], 
.form-right-to-w3ls input[type="text"], 
.form-left-to-w3l input[type="email"],
 select.form-control {
    margin: 0px 0px 24px;
}
.at-column:before {
    padding-top: 83%;
}	
.left-side h2 a {
    font-size: 30px;
}
.callbacks_nav {
    height: 33px;
    width: 33px;
}
.title {
    font-size: 41px;
}
.w3layouts_mail_grid_right input[type="submit"], 
.w3layouts_mail_grid_right input[type="reset"] {
    font-size: 14px;
}
button[type=submit] {
    font-size: 14px;
}
.icon_grid_left span {
    font-size: 19px;
}
}
@media(max-width:767px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		position: absolute;
		width: 92%;
		padding:0em 0;
		background:rgba(0, 0, 0, 0.9);
		z-index: 9999;
	}
	
	.navbar-nav {
    width: 15%;
    margin: 0px auto;
    text-align: center;
	padding:10px 0px ;
}
.navbar-default .navbar-toggle {
     border: none; 
     background: #171616;
    border-radius: 5px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:#f3901b;
}
.navbar-default .navbar-nav > li > a {
    padding: 11px 1px;
}
.slider-info {
    padding: 5em 0em 0em 3em;
}
.about, .services, .team, .contact, .news, .testimonials {
    padding: 3.2em 0;
}
.char-mid-grid {
    padding: 2.5em 2em;
}
}
@media(max-width:736px){
.char-mid-grid {
    padding: 2.5em 2em;
}
h4.modal-title {
    font-size: 30px;
}
.callbacks_nav, .callbacks_nav.next {
    background-size: 29px;
}
.header-outs {
    min-height: 423px;
}
.slider-info {
    padding: 4em 0em 0em 3em;
}
.slider-info h4 {
    font-size: 2.7em;
}
.outs_more-buttn a {
    padding: 8px 20px;
}	
.slider-info p {
    font-size: 14px;
}
.aboutright h4 {
    font-size: 26px;
}
.pos-top:nth-child(2) {
    margin-top: 16px;
}
}
@media(max-width:667px){
h1 a.navbar-brand {
    font-size: 31px;
}
.slider-info p {
    line-height: 27px;
}	
.map iframe {
    height: 278px;
}
ul.nav-buttom {
    margin: .7em 0;
}
.w3layouts_mail_grid_right textarea {
    min-height: 177px;
}
.wthree_contact_left_grid input[type="text"], 
.wthree_contact_left_grid input[type="email"], 
.w3layouts_mail_grid_right textarea {
    margin-bottom: 1.5em;
}
}
@media(max-width:640px){
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 91%;	
}
.jst-right {
    padding: 1.5em 1em;
}
.contact-icons.text-center {
    padding-top: 2em;
}
.blog-right {
    margin-top: 34px;
}
.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    width: 31%;
}
.footer_grid_left {
    width: 100%;
}
.footer_grid_left:nth-child(1),.footer_grid_left:nth-child(2)  {
    padding-bottom: 18px;
}
.left-side h2 a {
    font-size: 28px;
}
.slider-info p {
    padding: .8em 3em 1em 0em;
}
}
@media(max-width:600px){
.header-outs {
    min-height: 405px;
}
.slider-info {
    padding: 3em 0em 0em 3em;
}
.slider-info h4 {
    font-size: 2.3em;
}
.aboutright h4 {
    font-size: 25px;
}
.map iframe {
    height: 259px;
}	
.navbar-default .navbar-nav > li > a {
    padding: 9px 1px;
}
.about, .services, .team, .contact, .news, .testimonials {
    padding: 3em 0;
}
.title {
    font-size: 40px;
}
}
@media(max-width:568px){
	h4.modal-title {
    font-size: 28px;
}
.char-mid-grid {
    width: 100%;
}
.w3layouts_mail_grid_right textarea {
    min-height: 166px;
}
.footer {
    padding: 1.5em 0em;
}
.icon_grid_left span {
    width: 49px;
    height: 49px;
    line-height: 48px;
}
}
@media(max-width:480px){
.slider-info {
    padding: 3em 0em 0em 0em;
	text-align:center;
}
.slider-info p {
    padding: .8em 0em 1em 0em;
}
.slider-info p {
    font-size: 13px;
}
.its-banner-grid {
    width: 100%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 88%;
}
.navbar-default .navbar-nav > li > a {
    font-size: 13px;
}
.blog-rit-right {
    width: 100%;
}
.blog-rit-right:nth-child(1),.blog-rit-right:nth-child(3) {
    margin-bottom: 29px;
}
.at-column{
    width: 76%;
    margin: 0px auto;
    float: none;
}
.form-left-to-w3l {
    width: 100%;
	padding-right:0px;
}
.form-right-to-w3ls {
    width: 100%;
	padding-left:0px;
}
.wthree_contact_left_grid {
    width: 100%;
}
.wthree_contact_left_grid:nth-child(1), .wthree_contact_left_grid:nth-child(3) {
    padding-right: 0px;
}
.wthree_contact_left_grid:nth-child(2), .wthree_contact_left_grid:nth-child(4) {
    padding-left: 0px;
}
.right-side {
    padding: 0px;
}
.map iframe {
    height: 247px;
}
.callbacks_nav {
    top: 68%
}
.footer ul.nav-buttom li {
    display: block;
    margin: 13px 8px;
}
}
@media(max-width:440px){
.slider-info h4 {
    font-size: 2em;
}
.header-outs {
    min-height: 368px;
}
.aboutright h4 {
    font-size: 24px;
}
.char-mid-grid {
    padding: 2em 2em;
}
.footer_grid_left p, .footer_grid_left p a {
    letter-spacing: 1px;
}
.bottom-copy-wrt p {
    line-height: 26px;
}
}
@media(max-width:414px){
	.left-side h2 a {
    font-size: 26px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 86%;
}
h1 a.navbar-brand {
    font-size: 29px;
}
.about, .services, .team, .contact, .news, .testimonials {
    padding: 2.7em 0;
}
.pos-top p {
    font-size: 13px;
}
.imgflex, .imgflex1 {
    width: 100%;
}
h4.modal-title {
    font-size: 26px;
}
.at-column {
    width: 80%;
}
.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    width: 34%;
}
}
@media(max-width:384px){
	.slider-info h4 {
    font-size: 1.8em;
}
.slider-info p {
    line-height: 23px;
}
.navbar-nav {
    width: 100%;
}
.title {
    font-size: 38px;
}
}
@media(max-width:375px){
	.its-banner-grid {
    padding: 2em .8em;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 84%;
}
.aboutright h4 {
    font-size: 23px;
}
.out-info p {
    padding: 14px;
}
.at-column {
    width: 85%;
}
.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    width: 40%;
}
}
@media(max-width:320px){
	nav.navbar.navbar-default {
    padding: 2em 1em 1em;
}
.navbar-toggle {
    margin-top: 5px;
    margin-right: 5px;
}
.slider-info h4 {
    font-size: 1.5em;
}
.callbacks_nav, .callbacks_nav.next {
    background-size: 24px;
}
.slider-info p {
    letter-spacing: 1px;
}
.outs_news_grid h6 {
    font-size: 15px;
}
.at-column {
    width: 100%;
}
.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    width: 43%;
}
}
/*--//responsive--*/

